* {
    font-family: 'Courier New', Courier, monospace;
}

.title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    text-align: center;
    place-items: center;
}

.title button {
    background-color: lightblue;
    border-radius: 15px;
    width: 15vh;
    height: 5vh;
}

.library ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1vh;
}

.library li {
    border: 1px solid black;
    list-style-type: none;
    padding: 15px;
}

.library button {
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}