* {
    font-family: 'Courier New', Courier, monospace;
}

.title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    text-align: center;
    place-items: center;
}

.title button {
    background-color: lightblue;
    border-radius: 15px;
    width: 15vh;
    height: 5vh;
}

.library ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1vh;
}

.library li {
    border: 1px solid black;
    list-style-type: none;
    padding: 15px;
    background-color: rgb(161, 219, 161);
    font-weight: bold;
}

.library button {
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}

#book-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40%;
    padding-right: 50%;
    
}

#book-form label {
    text-align: right;
    padding-right: 10px;
}

#book-form input {
    display: flex;
}

h2 {
    text-align: center;
}

#book-form button {
    display: flex;
    justify-content: center;
    justify-self: center;
}